version: '3.8'

services:
  mysqldb:
    image: mysql:latest
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=rootadmin
      - MYSQL_DATABASE=ass_nss_db
    ports:
      - 3306:3306
    volumes:
      - db:/var/lib/mysql
  backend-v:
    depends_on:
      - mysqldb
    build: .
    restart: unless-stopped
    env_file: ./.env
    ports:
      - $PORT:$PORT
    environment:
      - DB_HOST=mysqldb
      - DB_USER=$DB_USER
      - DB_PASSWORD=$DB_PASSWORD
      - DB_NAME=$DB_NAME
    stdin_open: true
    tty: true
volumes: 
  db: